<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <% include menu %>

  <h1><%=  include messages %></h1>

  <form action="register" method="post">
    <p><input type="text" name="user[name]" placeholder="Username"></p>
    <p><input type="password" name="user[pass]" placeholder="Password"></p>
    <p><input type="submit" value="sign up"></p>
  </form>

</body>
</html>