<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8"/>
  <title>AngularJS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <script src="./scripts/event_xy.js"></script>
</head>
<body ng-controller="MyController">

  <form>
    <button ng-click="myStyle={ backgroundColor: '#f00', color: '#fff' }">Red</button>
    <button ng-click="myStyle={ backgroundColor: '#0f0', color: '#fff' }">Green</button>
    <button ng-click="myStyle={ backgroundColor: '#00f', color: '#fff' }">Blue</button>
  </form>
  
  <div ng-style="myStyle">
    <p>this is paragraph.</p>
  </div>

</body>
</html>